/* File: assets/styles/ImageModal.css */
.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .image-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
  }
  
  .image-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .image-modal-header h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .image-modal-body {
    display: flex;
    flex-direction: column;
  }
  
  .image-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .image-input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #747266;
    border-radius: 4px;
  }
  
  .add-image-button,
  .remove-image-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  