/* File: assets/styles/LinkModal.css */
.link-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .link-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
  }
  
  .link-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .link-modal-header h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .link-modal-body {
    display: flex;
    flex-direction: column;
  }
  
  .link-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .link-name-input,
  .link-url-input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #747266;
    border-radius: 4px;
  }
  
  .add-link-button,
  .remove-link-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .save-link-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .save-link-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  