.webbuilder-container {
  display: flex;
  background-color: #f3f2ec;
  min-height: 100vh;
}

.sidebar {
  background-color: #efede3;
  color: #747266;
  width: 200px;
  padding: 20px;
  border-right: 2px solid #747266;
  position: fixed; /* Fix the sidebar */
  top: 0; /* Align it to the top */
  bottom: 0; /* Align it to the bottom to make it full height */
  overflow-y: auto; /* Add vertical scrolling if needed */
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #747266;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
  background-color: #747266;
  color: #fff;
}

.webbuilder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 240px; /* Add margin to the left to avoid overlap with the sidebar */
}

.workspace-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.rectangle-container {
  position: relative;
  display: flex;
  align-items: center;
}

.rectangle {
  background-color: white;
  border: 2px solid black;
  width: 400px;
  height: 600px;
  margin-bottom: 10px;
  position: relative;
  overflow-y: auto; /* Add vertical scrolling */
  padding: 10px; /* Add some padding for the content inside */
}

.plus-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.trashcan-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -40px; /* Adjust as necessary to position the trashcan outside the rectangle */
}

.component {
  width: 95%;
  padding: 10px;
  border: 1px solid #747266;
  margin-bottom: 5px;
  text-align: center;
  background-color: #efede3;
  height: 100px;
}
