.webbuilder-container {
  display: flex;
  background-color: #f3f2ec;
  min-height: 100vh;
}

.sidebar {
  background-color: #efede3;
  color: #747266;
  width: 200px;
  padding: 20px;
  border-right: 2px solid #747266;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #747266;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
  background-color: #747266;
  color: #fff;
}

.webbuilder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 240px;
}

.workspace-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.rectangle-container {
  position: relative;
  display: flex;
  align-items: center;
}

.rectangle {
  background-color: white;
  border: 2px solid black;
  width: 400px;
  height: 600px;
  margin-bottom: 10px;
  position: relative;
  overflow-y: auto;
  padding: 10px;
}

.plus-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.trashcan-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -40px;
}

.component {
  width: 95%;
  padding: 10px;
  border: 1px solid #747266;
  margin-bottom: 5px;
  text-align: center;
  background-color: #efede3;
  height: auto;
  position: relative;
}

.widget-trashcan-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.colors-section {
  margin-top: 10px;
}

.colors-button,
.links-button,
.images-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #747266;
  font-size: 0.9rem;
  transition: color 0.3s;
  margin-top: 5px;
}

.colors-button:hover,
.links-button:hover,
.images-button:hover {
  color: #000;
}

.colors-icon,
.links-icon,
.images-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.color-input-wrapper,
.link-input-wrapper,
.image-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.color-input,
.link-input-name,
.link-input-url,
.image-input {
  width: 70%;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #747266;
  border-radius: 4px;
}

.add-color-button,
.remove-color-button,
.add-link-button,
.remove-link-button,
.add-image-button,
.remove-image-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
