.webbuilder-container {
  display: flex;
  background-color: #f3f2ec;
  min-height: 100vh;
}

.sidebar {
  background-color: #efede3;
  color: #747266;
  width: 200px;
  padding: 20px;
  border-right: 2px solid #747266;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.create-project-button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  background-color: #fff;
  color: #747266;
  border: 1px solid #747266;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.load-project-button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  margin-bottom: 10px;
  background-color: #fff;
  color: #747266;
  border: 1px solid #747266;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.load-project-dropdown {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #747266;
  background-color: #efede3;
  border-radius: 4px;
  text-align: center;
  width: 50%;
}

.load-project-dropdown ul {
  list-style: none;
  padding: 0;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #747266;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #747266;
  color: #fff;
}

.dropdown-item span {
  flex-grow: 1;
  text-align: left;
}

.dropdown-trashcan-icon {
  width: 16px; /* Adjust the size */
  height: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-trashcan-icon:hover {
  filter: brightness(0.8); /* Add a subtle hover effect */
}



.create-project-button:hover {
  background-color: #747266;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #747266;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
  background-color: #747266;
  color: #fff;
}

.webbuilder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 240px;
}

.create-project-form {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #747266;
  background-color: #efede3;
  border-radius: 4px;
  text-align: center;
  width: 50%;
}

.create-project-form label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.create-project-form input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #747266;
  border-radius: 4px;
}

.create-project-form button {
  padding: 5px 10px;
  border: none;
  background-color: #747266;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.create-project-form button:hover {
  background-color: #5a5748;
}

.workspace-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.rectangle-container {
  position: relative;
  display: flex;
  align-items: center;
}

.rectangle {
  background-color: white;
  border: 2px solid black;
  width: 400px;
  height: 600px;
  margin-bottom: 10px;
  position: relative;
  overflow-y: auto;
  padding: 10px;
}

.button {
  padding: 5px 10px;
  border: none;
  background-color: #747266;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}

.button:hover {
  background-color: #5a5748;
}

/* Additional styles for the cancel button to differentiate it slightly */
.cancel-button {
  background-color: #d9534f;
}

.cancel-button:hover {
  background-color: #c9302c;
}

/* Add styles for the edit button to make it consistent */
.edit-button {
  padding: 5px 15px;
  border: none;
  background-color: #747266;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 20px
}

.edit-button:hover {
  background-color: #5a5748;
}

.page-name-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #747266;
  border-radius: 4px;
  background-color: #efede3;
  color: #747266;
}

.page-name-input:focus {
  outline: none;
  border-color: #000;
}

.plus-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.trashcan-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: -40px;
}

.component {
  width: 95%;
  padding: 10px;
  border: 1px solid #747266;
  margin-bottom: 5px;
  text-align: center;
  background-color: #efede3;
  height: auto;
  position: relative;
}

.widget-trashcan-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}


.add-modal-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-dropdown {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #747266;
  border-radius: 4px;
  margin-top: 5px;
}

.add-modal-confirm {
  padding: 5px 10px;
  background-color: #747266;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-modal-confirm:hover {
  background-color: #5a5748;
}

.added-modals {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px; /* Adjusted width to accommodate the trashcan button */
  height: 50px;
  background-color: #efede3;
  border: 1px solid #747266;
  border-radius: 4px;
  position: relative;
  padding: 0 5px; /* Added padding to ensure the content doesn't touch the borders */
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 130px; /* Reduced width to make room for the trashcan button */
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left; /* Align the text and icon to the left */
  padding: 0;
}

.modal-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.modal-title {
  font-weight: bold; /* Make the title bold */
  flex-grow: 1;
}

.modal-trashcan-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 5px; /* Space between the trashcan and the modal button */
}


.colors-section {
  margin-top: 10px;
}

.colors-button,
.links-button,
.images-button,
.prompt-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #747266;
  font-size: 0.9rem;
  transition: color 0.3s;
  margin-top: 5px;
}

.colors-button:hover,
.links-button:hover,
.images-button:hover,
.prompt-button:hover {
  color: #000;
}

.colors-icon,
.links-icon,
.images-icon,
.prompt-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.color-input-wrapper,
.link-input-wrapper,
.image-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.color-input,
.link-input-name,
.link-input-url,
.image-input {
  width: 70%;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #747266;
  border-radius: 4px;
}

.add-color-button,
.remove-color-button,
.add-link-button,
.remove-link-button,
.add-image-button,
.remove-image-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.generate-prompt-button {
  padding: 0.5rem 1.5rem;
  background-color: #747266;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 20%;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.generate-prompt-button:hover {
  background-color: #5c5a52;
}

.generate-prompt-button:disabled {
  background-color: #b2b0a9;
  cursor: not-allowed;
}

